.conteiner{
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  background-color: #eee;
  padding: 30px;
}

.button-conteiner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.search-conteiner{
  margin-bottom: 30px;
}
.search-conteiner h1{
  margin-top: 10px;
  margin-bottom: 30px;
}